In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [2]:
crypto_csv_file = "./data/crypto.csv"
crypto_csv_df = pd.read_csv(crypto_csv_file)
crypto_csv_df.head()

      name ticker     date   close
0  bitcoin    BTC  4/28/13  134.21
1  bitcoin    BTC  4/29/13  144.54
2  bitcoin    BTC  4/30/13  139.00
3  bitcoin    BTC   5/1/13  116.99
4  bitcoin    BTC   5/2/13  105.21

In [3]:
 # Create a filtered dataframe from specific columns
crypto_cols = ["name", "ticker", "date", "close"]
crypto_transformed= crypto_csv_df[crypto_cols].copy()

# Rename the column headers
crypto_transformed = crypto_transformed.rename(columns={"name": "name",
                                                          "ticker": "ticker",
                                                          "date": "date",
                                                            "close":"close"})

# Clean the data by dropping duplicates and setting the index
#premise_transformed.drop_duplicates("id", inplace=True)
#premise_transformed.set_index("id", inplace=True)

crypto_transformed.head()

      name ticker     date   close
0  bitcoin    BTC  4/28/13  134.21
1  bitcoin    BTC  4/29/13  144.54
2  bitcoin    BTC  4/30/13  139.00
3  bitcoin    BTC   5/1/13  116.99
4  bitcoin    BTC   5/2/13  105.21

In [4]:
rds_connection_string = "mysql+mysqlconnector://root:<password>@localhost/financials" 
engine = create_engine(f'{rds_connection_string}')
engine

Engine(mysql+mysqlconnector://root:***@localhost/financials)

In [5]:
engine.table_names()

['crypto', 'gold', 'oil', 'oils', 'stocks']

In [6]:
#crypto_transformed=crypto_transformed[:3]


crypto_transformed['date'] = pd.to_datetime(crypto_transformed['date'])
crypto_transformed.head()

      name ticker       date   close
0  bitcoin    BTC 2013-04-28  134.21
1  bitcoin    BTC 2013-04-29  144.54
2  bitcoin    BTC 2013-04-30  139.00
3  bitcoin    BTC 2013-05-01  116.99
4  bitcoin    BTC 2013-05-02  105.21

In [7]:
crypto_transformed.to_sql(name='crypto', con=engine, if_exists='append', index=False)